body {
	background-color: #fff5d9;
	background-image: linear-gradient(to right, #fff5d9, #f7d9ff, #ffffff);
	color: #007fcb;
	font-family: "Trebuchet MS", monospace;
}

h1 {
	text-align: center;
}

header {
	text-align: center;
}

p {
	text-align: center;
}
