body {
	background-color: black ;
	color: green;
	font-family: "Courier New", monospace;
}

h1 {
	color: green;
	text-align: center;
}

header {
	color: green;
	text-align: center;
}

p {
	color: green;
}
